
.cart-item-div{
    display: flex;
}

.cart-item-div > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-item-info {
    width: 300px;
    
}

.cart-item-info > p {
    font-size: small;
}

.cart-crud-action {
    text-decoration: none;
}

.cart-crud-action:hover {
    text-decoration: underline;
}

.cart-image{
    width: 300px;
}

.cart-price-style {
    display: flex;
    justify-content: space-between;
}