.product-wrapper{
    display: flex;
    justify-content:stretch;
    padding-bottom: 30%;
}

.product-img {
    width: 87%;
}

.product-p {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        margin-bottom: 0px;
        color: rgb(101, 101, 101);
        line-height: 1.4;
        padding-left: 270px;
        padding-right: 270px;
        font-size: 15px;
}

.product-div {
    margin-top: 70px;
    margin-left: -70px;
    width: 75%;
    display: block;
    text-align: center;
}

.test {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    height: 30px;
    justify-content: space-around;
    position: sticky;
    top: 120px;
}

.test > * {
    margin-bottom: 10px;
}

.checkout-box {
    border: 1px solid gray;    
}

.checkout-box > * {
    padding: 15px;
}

.product-nav {
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    width: 35%;
}

.product-nav > * {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid gray;
}