.product-wrapper{
    display: flex;
    justify-content: center ;
    padding-bottom: 50px;
}

.product-img {
    width: 1000px;
}

.product-p {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        margin-bottom: 0px;
        color: rgb(101, 101, 101);
        line-height: 1.4;
        padding-left: 270px;
        padding-right: 270px;
        font-size: 15px;
}

.product-div {
    margin-top: 70px;
    margin-left: -100px;
    width: 100%;
    display: block;
    text-align: center;
}

.test {
    margin-top: 100px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    height: 100%;
    width: 40%;
    justify-content: space-around;
    position: sticky;
    top: 120px;
}

.test > * {
    margin-bottom: 10px;
}

.checkout-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.checkout-box > * {
    padding: 0px 15px 15px 15px;
}

.checkout-box > p {
    font-size: small;
    color: rgb(101, 101, 101);
}

.product-nav {
    display: flex;
    width: 1000px;
}

.product-nav > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: x-small;
    margin-left: 150px;
    margin-right: -120px;
}

.shoe-name {
    display: flex;
    overflow: auto;
    font-weight: bolder;
}

.size-option {
    border: 1px solid lightgray;
    width: 95%;
    margin-top: 15px;
    margin-left: 15px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    color: rgb(101, 101, 101);
}

.inner-buttons-div {
    max-height: 300px;
    height: 400px;
    overflow: auto;
}
.size-inner-option {
    border: 1px solid lightgray;
    width: 101.2%;
    height: 47px;
    font-weight:bolder;
    font-size: medium;
    color: rgb(101, 101, 101);
    cursor: pointer;
}

.size-inner-option:hover{
    background-color: rgb(249, 249, 249);
}

.add-to-cart {
    border: 1px solid lightgray;
    width: 95%;
    margin-left: 13px;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-top: 15px;
    background-color: black;
    color: white;
    font-size: medium;
    font-weight: 300;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: rgb(39, 39, 39);
}

.product-info-div{
border: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
}

.product-info-div > * {
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: 440px;
    margin-left: 20px;
}

.product-info-div > * > p {
    font-size: small;
}

.product-show-page-carousel {
    margin-top: 50px;
}

.product-show-page-carousel > p {
    font-weight: 600;
    font-size: x-large;
    margin-left: 30px;
}