.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: rgb(242, 242, 242);
}

.footer-form {
    width: 300%;
    display: block;
    text-align: center;
    width: 100%;
    border-right: 0.2rem solid #c6c8ca;
    padding-right: 100px;
}
.footer-input{
    width: 330px;
    height: 1.5rem;
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1;
    letter-spacing: 0.08 rem;
    padding: 6px;
    margin-bottom: 25px;
}

.footer-p {
    font-size: medium;
    margin-bottom: 15px;
}

.footer-sign-button {
            font-size: 0.9rem;
            font-family: ProximaNova, sans-serif;
            text-align: center;
            border: 0px;
            border-radius: 0.1rem;
            font-weight: 400;
            line-height: 2.4rem;
            height: 2.5rem;
            padding: 0px 1rem;
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            background-color: rgb(19, 19, 19);
            letter-spacing: 0.05em;
            cursor: pointer;
            margin-bottom: 15px;
}

.footer-refer {
    padding-right: 100px;
    padding-left: 100px;
}

.footer-refer-p {
    display: block;
    text-align: center;
    font-size: medium;
    margin-top: -40px;
    margin-bottom: 30px;
}

.refer-button {
    font-size: 0.9rem;
    font-family: ProximaNova, sans-serif;
    text-align: center;
    border: 0px;
    border-radius: 0.1rem;
    font-weight: 400;
    line-height: 2.4rem;
    height: 2.5rem;
    padding: 0px 1rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background-color: rgb(19, 19, 19);
    letter-spacing: 0.05em;
    margin-left: 60px;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
}

.bottom-footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-bottom: 40px;
}

.link-div{
    display: flex;
    flex-direction: column;
}

.about-me {
    margin-top: 20px;
    font-size: medium;
}

.footer-h1 {
    font-weight: 500;
    font-size: large;
}

.p-tag {
    margin-top: 20px;
    font-size: medium;
}

.social-icon{
    height: 25px;
    width: 25px;
    margin-top: 20px;
}

.last {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.last > p {
    font-size: medium;
}