.each-product-img{
    width: 350px;
}
.each-product-item{
    display: block;
    text-align: center;
    cursor: pointer;
    margin-top: 30px;
}

.each-product-item > p {
    font-size: 13px;
    margin-top: 10px;
}

.each-product-brand {
    font-weight: 700;
}

.fix-this-shit {
    display: flex;
    justify-content: flex-end;
    width: 120px;
    margin-left: 280px;
    cursor: pointer;
}