.each-product-img{
    width: 350px;
}
.each-product-item{
    display: block;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.each-product-item:hover {
background: white;
    box-shadow: 0 8px 8px -4px rgb(110, 110, 110);
}

.each-product-item > p {
    font-size: 13px;
    margin-top: 10px;
}

.each-product-brand {
    font-weight: 700;
}

.fix-this-shit {
    display: flex;
    justify-content: flex-end;
    width: 120px;
    margin-left: 280px;
    cursor: pointer;
}